%h1 Search

%p= flash[:notice]

= form_tag results_path :method => :get do

  = label_tag 'donor', 'Donor' 
  = text_field_tag 'donor' 

  = label_tag 'recipient', 'Recipient'
  = text_field_tag 'recipient' 

  = submit_tag 'Search'

= link_to 'See all contributions', results_path(:donor => '', :recipient => '')
