%h1 Search

%table#contributions
  %thead
    %tr
      %th Contributor
      %th Recipient
      %th Amount 
      %th City
      %th State
      %tbody
      - @contributions.each do |contribution|
        %tr
          %td= contribution.from 
          %td= contribution.to
          %td= contribution.amount
          %td= contribution.city
          %td= contribution.state

=link_to 'Go back to Search', {:controller => :search, :action => :index}
