%h1 Search

- if defined? @donor and defined? @recipient
  %p= ('Contributions from ' + @donor + ' to ' + @recipient)
- elsif defined? @donor
  %p= ('Contributions from ' + @donor)
- elsif defined? @recipient
  %p= ('Contributions to ' + @recipient) 

%table#contributions
  %thead
    %tr
      %th Contributor
      %th Recipient
      %th Amount 
      %th City
      %th State
      %tbody
      - @contributions.each do |contribution|
        %tr
          %td= contribution.donor 
          %td= contribution.recipient
          %td= contribution.amount
          %td= contribution.city
          %td= contribution.state

=link_to 'Go back to Search', {:controller => :search, :action => :index}
